<!DOCTYPE html>
<html lang="en">
   {% load static %}

   {% include 'head.html' %}
   <style>
      html,
      body,
      header,
      .jarallax {
      height: 1000px;
      min-height: 800px;
      }
   </style>

   <body>
   <!-- thanhtam -->
   <div class="menu"  style="margin-bottom: 125px;">
      <!-- logo -->
      <div class="menu-item" style="float: left; color: white; display: block; margin-left: 50px; margin-top: 15px;">
         <p> VETULA</p>
      </div>
      <!-- Item 1 -->
      <div class="menu-item">
         <a href="{% url 'home' %}">Home</a>
      </div>

      <!-- Item 2 -->
      <div class="menu-item">
         <a href="{% url 'user' %}">User</a>
      </div>

      <!-- Item 3 -->
      <!-- <div class="menu-item">
         <a href="#!">System</a>
      </div> -->
      <!-- dowload btn -->
      {% if user.is_authenticated %}
         <div class="btn-header">
            <a href="{% url 'logout' %}">Logout</a>
         </div>
      {% else %}
         <div class="btn-header">
            <a href="{% url 'login' %}">Login</a>
         </div>
      {% endif %}
   </div>

   <!-- thanhtam -->

      
      <!-- Intro Section -->
      <div class="view jarallax" data-jarallax='{"speed": 0.2}'
         style="background-image: url('https://cdn.pixabay.com/photo/2018/03/07/18/42/menu-3206749_960_720.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;margin-top:-125px;">
         <div class="mask rgba-indigo-light">
            <div class="container h-100 d-flex justify-content-center align-items-center">
               <div class="row">
                  <div class="col-md-12 wow fadeIn">
                     <div class="text-center white-text">
                        <ul class="list-unstyled">
                           <li>
                              <h1 class="display-4 font-weight-bold white-text wow fadeIn"
                                 data-wow-delay="0.3s">
                                 <strong>What are you gonna cook today?</strong>
                              </h1>
                           </li>
                           <li>
                              <h5 class="white-text description mb-5 wow fadeIn" data-wow-delay="0.4s">
                                 Tell me what you have and I will find you something cool !
                              </h5>
                           </li>
                           <hr>
                           <form action="{% url 'search' %}" method="get">
                              <!--Accordion wrapper-->
                              <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                                 <!-- Accordion card -->
                                 <div class="card">
                                    <!-- Card header -->
                                    <div class="card-header" role="tab" id="headingOne1">
                                       <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                                          aria-controls="collapseOne1">
                                          <h5 class="mb-0">
                                             Advanced Search <i class="fas fa-angle-down rotate-icon"></i>
                                          </h5>
                                          <small class="text-muted">Filter By Cuisine</small>
                                       </a>
                                    </div>
                                    <!-- Card body -->
                                    <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                                       <div class="card-body">
                                          <!-- Material checked -->
                                          <div class="form-check form-check-inline">
                                             <input type="checkbox" class="form-check-input" value="on" id="american" name="american">
                                             <label class="form-check-label" for="american">American</label>
                                          </div>
                                          <div class="form-check form-check-inline">
                                             <input type="checkbox" class="form-check-input" value="on" id="british" name="british">
                                             <label class="form-check-label" for="british">British</label>
                                          </div>
                                          <div class="form-check form-check-inline">
                                             <input type="checkbox" class="form-check-input" value="on" id="caribbean" name="caribbean">
                                             <label class="form-check-label" for="caribbean">Caribbean</label>
                                          </div>
                                          <div class="form-check form-check-inline">
                                             <input type="checkbox" class="form-check-input" value="on" id="chinese" name="chinese">
                                             <label class="form-check-label" for="chinese">Chinese</label>
                                          </div>
                                          <div class="form-check form-check-inline">
                                             <input type="checkbox" class="form-check-input" value="on" id="french" name="french">
                                             <label class="form-check-label" for="french">French</label>
                                          </div>
                                          <div class="form-check form-check-inline">
                                             <input type="checkbox" class="form-check-input" value="on" id="italian" name="italian">
                                             <label class="form-check-label" for="italian">Italian</label>
                                          </div>
                                          <div class="form-check form-check-inline">
                                             <input type="checkbox" class="form-check-input" value="on" id="japanese" name="japanese">
                                             <label class="form-check-label" for="japanese">Japanese</label>
                                          </div>
                                          <div class="form-check form-check-inline">
                                             <input type="checkbox" class="form-check-input" value="on" id="kosher" name="kosher">
                                             <label class="form-check-label" for="kosher">Kosher</label>
                                          </div>
                                          <div class="form-check form-check-inline">
                                             <input type="checkbox" class="form-check-input" value="on" id="mediterranean" name="mediterranean">
                                             <label class="form-check-label" for="mediterranean">Mediterranean</label>
                                          </div>
                                          <div class="form-check form-check-inline">
                                             <input type="checkbox" class="form-check-input" value="on" id="mexican" name="mexican">
                                             <label class="form-check-labell" for="mexican" style="margin-bottom: 0.5px;">Mexican</label>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <!-- Accordion card -->
                              <li class="wow fadeIn" data-wow-delay="0.4s">
                                 <audio id="startSound" src="{% static 'sound/start.mp3' %}"></audio>
                                 <audio id="stopSound" src="{% static 'sound/stop.mp3' %}"></audio>
                                 <div class="md-form mb-0">
                                    <input type="text" id="form51" class="form-control" name="search" style="color: floralwhite;">
                                    <label for="form51" class="">Search</label>
                                    <i id="speechIcon" class="fas fa-microphone"></i>
                                    <span id="recordingIndicator"></span> 
                                 </div>
                                 <button class="btn btn-white btn-rounded btn-lg orange-text font-weight-bold ml-lg-0" type="submit">
                                 <i class="fas fa-search orange-text mr-2" aria-hidden="true"></i> Get Recipes</button>
                              </li>
                              <div id="keywordsContainer"></div>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </form>
      {% include 'scripts.html' %}
      <script>
         // Speech-to-text functionality
         $(document).ready(function() {
            if ('webkitSpeechRecognition' in window) {
               var recognition = new webkitSpeechRecognition();
               var speechIcon = document.getElementById('speechIcon');
               var recordingIndicator = document.getElementById('recordingIndicator');
               var searchInput = document.getElementById('form51');
               var startSound = document.getElementById('startSound');
               var stopSound = document.getElementById('stopSound');
               var isRecording = false
               // var recognitionTimeout; // Variable to hold the recognition timeout

               recognition.continuous = true;
               recognition.interimResults = true;

               recognition.onstart = function() {
                  // clearTimeout(recognitionTimeout); // Clear any existing timeouts
                  isRecording = true
                  speechIcon.classList.add('recording');
                  recordingIndicator.style.opacity = 1;
                  searchInput.placeholder = 'Listening...';
                  startSound.play(); // Play the start sound
               }

               recognition.onend = function() {
                  isRecording = false
                  speechIcon.classList.remove('recording');
                  recordingIndicator.style.opacity = 0;
                  searchInput.placeholder = 'Search';
                  stopSound.play(); // Play the stop sound
               }

               speechIcon.addEventListener('click', function() {
                  searchInput.focus(); // Focus on the search input field
                  recognition.addEventListener("result",e=>{
                     const transcript = Array.from(e.results)
                     .map(result => result[0])
                     .map(result => result.transcript)
                     searchInput.value = transcript;   
                  });

                  if (isRecording){
                     recognition.stop()
                  }
                  else{
                     recognition.start();
                  }
                  
               });
            }
         });
      </script>
      <script>
         // Animation init
         new WOW().init();
         
         // Material Select Initialization
         $(document).ready(function () {
           $('.mdb-select').material_select();
         });
      </script>
   </body>
</html>








