<!DOCTYPE html>
<html lang="en">
{% load static %}

{% include 'head.html' %}
<style>
    html,
    body,
    header,
    .jarallax {
        height: 1000px;
        min-height: 800px;
    }

    .notification-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .notification {
        padding: .3em 5%;
        background-color: rgba(64, 243, 243, 0.808);
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60%;
        border-radius: 5px;
    }

    #cross {
        cursor: pointer;
    }
</style>

<link rel="stylesheet" href="{% static 'css/test.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
    integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ti-icons@0.1.2/css/themify-icons.css">

<!-- thanhtam -->

<body>
    <!-- thanhtam -->
    <div class="menu">
        <!-- thanhtam -->
        <div class="menu" style="margin-bottom: 50px;">
            <!-- logo -->
            <div class="menu-item"
                style="float: left; color: white; display: block; margin-left: 50px; margin-top: 15px;">
                <p> VETULA</p>
            </div>
            <!-- Item 1 -->
            <div class="menu-item">
                <a href="{% url 'home' %}">Home</a>
            </div>

            <!-- Item 2 -->
            <div class="menu-item">
                <a href="{% url 'user' %}">User</a>
            </div>

            <!-- Item 3 -->
            <!-- <div class="menu-item">
                <a href="#!">System</a>
            </div> -->
            <!-- dowload btn -->
            {% if user.is_authenticated %}
            <div class="btn-header">
                <a href="{% url 'logout' %}">Logout</a>
            </div>
            {% else %}
            <div class="btn-header">
                <a href="{% url 'login' %}">Login</a>
            </div>
            {% endif %}
        </div>
    </div>


    {% if messages %}
    <div class="notification-container">
        <div class="notification">
            {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
            {% endfor %}
            <img id='cross' src="{% static 'img/close.png' %}" width="15px" height="15px" alt="">
        </div>
    </div>

    <script>
        var cross = document.getElementById('cross')
        cross.addEventListener('click', () => {
            document.getElementsByClassName('notification-container')[0].style.display = 'none';
        })
    </script>
    {% endif %}


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-4 mb-5 mb-lg-0 wow fadeIn">
                <div class="card border-0 shadow">
                    <!-- <img src="https://www.bootdey.com/img/Content/avatar/avatar6.png" alt="..."> -->
                    <img src="{{user.profile.avatar_pic.url}}" alt="user-avatar">
                    <div class="d-flex justify-content-start rounded-3 p-2 mb-2 justify-content-center"
                        style="background-color: #efefef;">
                        <div>
                            <p class="text-muted mb-1">Saved</p>
                            <p class="rounded-pill bg-primary text-white py-1 px-2 mb-0">
                                <i class="fas fa-check"></i> {{total}}
                            </p>
                        </div>
                        <hr class="my-0 mx-3" style="border-top: 1px solid #ccc;">
                        <div class="px-3">
                            <p class="text-muted mb-1">Original</p>
                            <p class="rounded-pill bg-danger text-white py-1 px-2 mb-0">
                                <i class="fas fa-times"></i> 0
                            </p>
                        </div>
                        <hr class="my-0 mx-3" style="border-top: 1px solid #ccc;">
                        <div>
                            <p class="text-muted mb-1">Status</p>
                            {% if user.profile.purchase == False %}
                                <p class="rounded-pill bg-danger text-white py-1 px-2 mb-0">
                                    <i class="fas fa-star"></i> FREE
                                </p>
                            {% else %}
                                <p class="rounded-pill bg-success text-white py-1 px-2 mb-0">
                                    <i class="fas fa-star"></i> PRO
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body p-1-9 p-xl-5">
                        <div class="mb-4">
                            <h3 class="h4 mb-0">{{user.profile.username|title}}</h3>
                            <span class="text-primary">{{user.profile.occupation|title}}</span>
                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-3"><a href="#!"><i
                                        class="far fa-envelope display-25 me-3 text-secondary"></i> {{user.email}}</a>
                            </li>
                            <li class="mb-3"><a href="#!"><i
                                        class="fas fa-mobile-alt display-25 me-3 text-secondary"></i> {{user.profile.phone}}</a>
                            </li>
                            <li><a href="#!"><i
                                        class="fas fa-map-marker-alt display-25 me-3 text-secondary"></i> {{user.profile.location}}</a>
                            </li>
                        </ul>
                        <ul class="social-icon-style2 ps-0">
                            <li><a href="#!" class="rounded-3"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#!" class="rounded-3"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#!" class="rounded-3"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#!" class="rounded-3"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>

                    </div>
                    <a type="button" class="btn btn-danger btn-xs waves-effect mb-2 waves-light" href="{% url 'user-edit' %}">Edit Info</a>
                    {% if user.profile.purchase == False %}
                        <a type="button" class="btn btn-success btn-xs waves-effect mb-2 waves-light" href="{% url 'process_payment' %}">Upgrade</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-8">
                <div class="ps-lg-1-6 ps-xl-5">
                    <!-- about me -->
                    <div class="card border-0 shadow" style="margin-bottom: 30px;">
                        <div class="card-title p-1-9">
                            <h2 class="h1 mb-0 text-primary">About Me</h2>
                        </div>
                        <div class="card-body p-1-9 ">
                            <p>{{user.profile.about}}</p>
                        </div>
                    </div>

                    <!-- saved recipe -->
                    <div class="card border-0 shadow" style="margin-bottom: 30px;">
                        <div class="card-title p-1-9">
                            <h2 class="h1 mb-0 text-primary">Save Recipe</h2>
                        </div>
                        <div class="card-body p-1-9 ">
                            <div class="container mt-5">
                                <!--Section: Content-->
                                <section class="">
                                    <!-- Grid row -->
                                    <div class="row">
                                        {% if total == 0 %}
                                        <p style="padding: 20px;"> None recipe found</p>
                                        {% endif %}


                                        {% for recipe in results %}
                                        <!-- Grid column -->
                                        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                                            <!-- Card -->
                                            <div class="card hoverable">
                                                <!-- Card image -->
                                                <img class="card-img-top" src="{{recipe.image}}" alt="Card image cap">
                                                <!-- Card content -->
                                                <div class="card-body">
                                                    <!-- Title -->
                                                    <a href="{{recipe.get_url}}" class="black-text">{{recipe.title}}</a>
                                                    <!-- Text -->
                                                    <p class="card-title text-muted font-small mt-3 mb-2">
                                                        {{recipe.description|safe|slice:":150"}}</p>
                                                    <a type="button" class="btn btn-flat text-primary p-0 mx-0"
                                                        href="{{recipe.get_url}}">Read
                                                        more<i class="fa fa-angle-right ml-2"></i></a>

                                                    <span class="remove-icon float-right text-danger"
                                                        style="cursor: pointer;" data-item-id="{{recipe.id}}">
                                                        <i class="fa fa-trash"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <!-- Card -->
                                        </div>
                                        {% endfor %}


                                    </div>
                                    <!-- Grid row -->


                                    <!--##############################Pagination################################-->

                                    <!-- Pagination -->
                                    <nav class="my-4 flex-center">
                                        <ul class="list-unstyled pagination pagination-circle pg-blue mb-0">

                                            <!-- First -->
                                            {% if page == "1" %}
                                            <li class="page-item disabled clearfix d-none d-md-block">
                                                <a class="page-link" href="#">First</a>
                                            </li>
                                            {% else %}
                                            <li class="page-item clearfix d-none d-md-block">
                                                <a class="page-link"
                                                    href="?{{topic}}=on&search={{query}}&page=1">First</a>
                                            </li>
                                            {% endif %}

                                            <!-- Arrow left -->
                                            {% if results.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link"
                                                    href="?{{topic}}=on&search={{query}}&page={{results.previous_page_number}}"
                                                    aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                            </li>
                                            {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                            </li>
                                            {% endif %}

                                            <!-- Numbers -->
                                            {% for number in results.paginator.page_range %}
                                            <li class="page-item">
                                                <a class="page-link"
                                                    href="?{{topic}}=on&search={{query}}&page={{number}}">{{number}}</a>
                                            </li>
                                            {% endfor %}


                                            <!-- Arrow right -->
                                            {% if results.has_next %}
                                            <li class="page-item">
                                                <a class="page-link"
                                                    href="?{{topic}}=on&search={{query}}&page={{results.next_page_number}}"
                                                    aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </li>
                                            {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </li>
                                            {% endif %}

                                            <!-- Last -->
                                            {% if page != results.paginator.num_pages %}
                                            <li class="page-item clearfix d-none d-md-block">
                                                <a class="page-link"
                                                    href="?{{topic}}=on&search={{query}}&page={{results.paginator.num_pages}}">Last</a>
                                            </li>
                                            {% else %}
                                            <li class="page-item clearfix d-none d-md-block disabled">
                                                <a class="page-link" href="#">Last</a>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                    <!-- Pagination -->

                                    <!-- <div class="text-center mt-5">
                                                                <a href="{% url 'home' %}">Back Home</a>
                                                            </div> -->
                                </section>
                                <!--Section: Content-->
                            </div>
                        </div>
                    </div>

                    <!-- your recipe -->


                </div>
            </div>
        </div>


    </div>

    <script>
        // Get all remove icons
        const removeIcons = document.querySelectorAll('.remove-icon');

        // Add click event listener to each remove icon
        removeIcons.forEach(removeIcon => {
            removeIcon.addEventListener('click', () => {
                // Show confirmation prompt
                const confirmed = confirm('Are you sure you want to remove this item?');

                if (confirmed) {
                    // Get the item ID from the data attribute
                    const itemId = removeIcon.getAttribute('data-item-id');

                    // Send AJAX request to the Django endpoint
                    fetch(`user/remove-item/${itemId}/`, {
                        method: 'DELETE',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}',  // Include CSRF token if using Django's CSRF protection
                        },
                    })
                        .then(response => {
                            if (response.ok) {
                                // Handle successful removal
                                // const successMessage = response.headers.get('X-Message');
                                // if (successMessage){
                                //     alert(successMessage);
                                // }

                                // Reload the page
                                location.reload();
                            } else {
                                // Handle removal failure
                                console.error('Failed to remove item.');
                            }
                        })
                        .catch(error => {
                            console.error('An error occurred:', error);
                        });
                }
            });
        });
    </script>

</body>

</html>